<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutotial Sample App | Home</title>
  </head>

  <body>
    <h1>Sample App</h1>
    <p>
      This is the home page for  the
      <a href="http://railstutotial.org">Ruby on Rails Tutotial</a>
      Sample Application.
    </p> 
  </body>
</html>
